* {
   margin:0;
   padding: 0;
}

html {
   scroll-behavior: smooth;
}


body {
   background-color:#222831;
   color:white;
   /* text-align: center; */
}

.main {
   border: solid 3px #700B97;
   border-radius: 6px;
   margin-top: 100px;
   margin-left: 400px;
   margin-right: 400px;
   margin-bottom: 100px;
   align-self: center;
}


.btnhome {
   padding: 8px;
   margin-left: 30px;
   margin-top: 20px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: larger;
   background-color: #700B97;
   color: #00ffdd;
   border: solid 2px #00ffdd;
   border-radius: 6px;
}

.btnhome:hover {
   background-color: #00ffdd;
   color: #700B97;
   font-weight: 600;
}

.frm {
   margin-top: 50px;
}


.formhead {
   margin-top: 20px;
   text-align: center;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 3rem;
   font-weight: 400;
}


.formheader {
   margin-top: 20px;
   text-align: center;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 1.5rem;
   font-weight: 400;
}


.boxlbl, .boxinp{
   /*  */
   /* margin-right: 120px; */
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: larger;
   
}

.boxlbl {
   margin-left: 80px;
   font-weight: 100;
}

.boxinp {
   margin-left: 80px;
   margin-right: auto;
   margin-top: 10px;
   margin-bottom: 20px;
   background-color: #222831;
   color: white;
   border: solid 2px #00ffdd;
   border-radius: 4px;
   width: 80%;
   height: 30px;
}


.btns {
   margin-top: 20px;
   margin-left: 100px;
   margin-bottom: 80px;
   padding: 8px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: medium;
   background-color: #700B97;
   color: #00ffdd;
   border: solid 2px #00ffdd;
   border-radius: 6px;
}


.btns:hover {
   background-color: #00ffdd;
   color: #700B97;
   font-weight: 600;
   transition: ease 0.3s;
}


.loginbtn {
   margin-left: 145px;
}


.notamem {
   margin-left: 150px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: larger;
}


.signupbtn {
   margin-left: 20px;
   padding: 8px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: medium;
   background-color: #700B97;
   color: #00ffdd;
   border: solid 2px #00ffdd;
   border-radius: 6px;
}

.signupbtn:hover {
   background-color: #00ffdd;
   color: #700B97;
   font-weight: 600;
   transition: ease 0.3s;
}


.reqstacc {
   margin-left: 150px;
   padding: 8px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: medium;
   background-color: #700B97;
   color: #00ffdd;
   border: solid 2px #00ffdd;
   border-radius: 6px;
}


.reqstacc:hover {
   background-color: #00ffdd;
   color: #700B97;
   font-weight: 600;
   transition: ease 0.3s;
}