body{
    background-color: black;
    margin: 0;
    font-family: sans-serif;
}

.navbar{
    background-color: #8E05C2;
    border-radius: 10px;
    margin: 10px;
}

.navbar ul{
    overflow: auto;
    text-decoration: none;
}

.navbar li{
    
    float: left;
    padding: 10px;
    list-style: none;
    margin: 3px 20px;
}

.navbar a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}  

h1{
    text-align: center;
    letter-spacing: 5px;
    font-size: 45px;
    color: white;
}

hr-line{
    border: 20px rgb(68 66 66);
}

div.site-info {
    color: white;
    width: 95%;
    border: 8px solid #700B97;
    padding: 20px;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

div.main-card-container{
    border: 10px solid #700B97;
}

div.row{
    text-align: center;
}

.card{
    width: 18%;
    /* border: 5px solid #3E065F; */
    display: inline-block;
    background-color: rgb(32, 31, 31);
    margin: 40px;
    box-shadow: 7px 10px 10px;
    transition: 5s color;
    border-radius: 10px;
    color: #700B97;
}
.card:hover{
    box-shadow: 11px 14px 15px ;
    color: #8E05C2;
    transition: .7s color;
}

.card-img img{
    width: 100%;
    height: 200px;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    /* object-fit: contain; */
}

.card-title {
    color: white;
    text-align: center;
    font-size: 25px;
}

.card-content{
    color: white;
    text-align: center;
}

.card-content button{
    text-align: center;
    margin-bottom: 15px;
    cursor: pointer;
    border-radius: 8px;
    padding: 3px;
    transition: .7s;
    font-size: 18px;
    background-color: white;
    color:#8E05C2;
}

.card-content button:hover{
    
    background-color: #8E05C2;
    color: white;
}

a{
    text-decoration: none;
}